.root, .assignment, .assignment div {
	margin: 5px;
	padding: 5px;
	border: 1px solid #CCCCCC;
}

.wizard {
	margin: 5px;
	border: 1px solid #CCCCCC;
}

.assignment p, .wizard p {
	padding-left: 10px;
	background-color: #EEEEEE;
}
